@import "../../../scss/style.scss";

.registerWarrper {
    line-height: 2;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    @media only screen and (max-width: 736px) {
        width: 80%;
    }
}

.registerInnerContainer{
    width: 100%;
    margin: 0 auto;
}

.formContainer{
    width: 80%;
    margin: 0 auto;
}

button {
    margin-top: 10px;
}